<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New task</title>
    <style>
        body {
            font-size: 20px;
        }
        .but {
            width:  80px;
            background: #595ab4;
            color: #fff;
        }
        .dat {
            width:  150px;
        }
        input {
            color: rgb(10, 10, 10); 
            display: inline;
            width:  300px;
            height: 30px;
            border-radius: 10px 10px 10px 10px;
        }

    </style>
</head>

<body>

<h1>Create new task</h1>

<br>

<form th:method="POST" th:action="@{/tasks}" th:object="${task}">

    <label for="taskName">Enter title: </label>
    <input type="text" th:field="*{taskName}" id="taskName"/>

    <br/>
    <br/>
    <br/>

    <label for="targetDate">Enter target date: </label>
    <input class="dat" type="date" th:field="*{targetDate}" id="targetDate"/>

    <br/>
    <br/>
    <br/>

    <label for="status">Enter status: </label>
    <input type="checkbox" th:field="*{status}" id="status"/>

    <br/>
    <br/>
    <br/>

    <input class="but" type="submit" value="Create!"/>

</form>

</body>
</html>
